/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET CSS */

:root {
    --bg-color: rgb(255, 229, 173);
    --text-color: rgb(62, 0, 31);
    --btn-bg-color: rgb(241, 26, 123);
    --gric-btn-bg-color: rgb(152, 33, 118);
}

* {
    box-sizing: border-box;
}

html,
body {
    /* so that the html and body will occupy the full viewport */
    min-height: 100dvh; 
}

body {
    display: grid;
    grid-template-columns: 1fr;
    /* header, main and footer respectively*/
    grid-template-rows: 5rem 1fr 3rem; 
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Tektur', cursive;
}

header, footer {
    display: grid;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

section {
    width: 60%;
    /*Combined with 60% width this will acheive horizontal center alignment*/
    margin: 10vh auto; 
    padding: 0 0 2vh 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    align-items: center;
    justify-items: center;
}

div.pseudo-form {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    gap: 2vh;
    align-items: center;
    justify-items: center;
    /* padding only above and below not to the sides */
    padding: 2vh 0;
    margin-top: 2vh;
    transition: opacity 0.2s ease-in-out, visibility 0.3s ease-in-out;
}

div.pseudo-form.hidden {
    visibility: hidden;
    opacity: 0;
}

div.player-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

div.player-details>label {
    font-weight: 600;
}

div.player-details>input {
    background-color: var(--gric-btn-bg-color);
    border: none;
    border-radius: 4px;
    color: var(--bg-color);
    padding: 8px;
    font-family: inherit;
}

div.grid-container {
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* a neet trick for the grid lines to appear */
    gap: 2px;
    /* once again we only want margin's above and below not 
    to the sides */
    margin: 5vh 0;
}

div.grid-row {
    /* this whole selectro is purely to make the grid lines appear
    without showing borders */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
}

button.grid-cell {
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    padding: 0;
    border: none;
    /* Without this the button seems to go down when clicked
    werid! */
    vertical-align: middle;
    background-color: var(--gric-btn-bg-color);
    color: var(--bg-color);
    font-family: 'Press Start 2P', cursive;
}

button.start-game,
button.reset-game {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1vh 5vw;
    margin-top: 2vh;
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 8px;
    color: var(--bg-color);
    cursor: pointer;
}

button.start-game:hover,
button.reset-game:hover {
    scale: 0.9;
    transition: scale 0.2s ease-in-out;
}

div.game-mode-controls>button {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1vh 5vw;
    background-color: var(--bg-color);
    border: none;
    border-radius: 8px;
    color: var(--btn-bg-color);
    cursor: pointer;
}

button.selected {
    background-color: var(--btn-bg-color) !important;
    color: var(--bg-color) !important;
}

.hidden {
    /* because the sections have a display of grid
    need to over ride with the !important */
    display: none;
}

footer {
    padding: 1vh;
}

footer p {
    font-size: 1.5rem;
    font-weight: 900;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: var(--btn-bg-color);
}

footer a:hover {
    /* scale would've been better but since we can't
    use scale on text elements instead reverted to 
    font-size to acheive a similar effect */
    font-size: 2rem;
}